eureka:
  client:
    healthcheck:
      enabled: true

owms:
  commands:
    common:
      tu:
        exchange-name: common.tu.commands
        routing-key: common.tu.command.removing
        queue-name: tms-tu-commands-queue
    tms:
      to:
        exchange-name: tms.commands
        routing-key: to.*
        queue-name: tms-to-commands
  events:
    common:
      tu:
        exchange-name: common.tu
    tms:
      to:
        exchange-name: tms.events
  tms:
    block-tu-deletion-states:
