<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">

    <conversionRule conversionWord="tid" converterClass="org.ameba.logging.ThreadIdProvider" />

    <variable scope="context" name="mdcPattern" value="%replace(;%X{MSGKEY};%X{MSGDATA}){';+( |$)', ''}" />

    <property name="LOG_TEMP" value="/tmp/owms" />
    <property name="MODULE_NAME" value="TMS" />
    <property name="SERVICE_NAME" value="TMS-Transportation" />
    <property name="LOG_FILE" value="${BUILD_FOLDER:-build}/${springAppName}"/>​

    <appender name="SYSLOG" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>Tenant</key>
            <defaultValue>BOOT</defaultValue>
        </discriminator>
        <sift>
            <appender name="SYSLOG-${Tenant}" class="ch.qos.logback.classic.net.SyslogAppender">
                <syslogHost>openwms.mooo.com</syslogHost>
                <facility>SYSLOG</facility>
                <port>10514</port>
                <suffixPattern>${SERVICE_NAME} ${Tenant} ${MODULE_NAME} %d{YYYY-MM-dd HH:mm:ss.SSS} %X{X-RequestID} %-5level [${PID:- }/%tid] - [%-40.40logger{39}]${mdcPattern} : %msg%n</suffixPattern>
            </appender>
        </sift>
    </appender>
    <appender name="LOGSTASH" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE}.json</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_FILE}.json.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp>
                    <timeZone>UTC</timeZone>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "severity": "%level",
                        "service": "${springAppName:-}",
                        "trace": "%X{X-B3-TraceId:-}",
                        "span": "%X{X-B3-SpanId:-}",
                        "parent": "%X{X-B3-ParentSpanId:-}",
                        "exportable": "%X{X-Span-Export:-}",
                        "pid": "${PID:-}",
                        "thread": "%thread",
                        "class": "%logger{40}",
                        "rest": "%message"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>
    <include resource="logback-appenders.xml" />
    <include resource="logback-loggers.xml" />

    <logger name="org.dozer" level="ERROR" />
    <logger name="org.hibernate.SQL" level="OFF" />
    <logger name="org.hibernate.type" level="OFF" />
    <logger name="com.netflix.discovery" level="OFF" />
    <logger name="org.springframework.security" level="WARN" />

    <logger name="org.openwms" level="DEBUG" />
    <logger name="CORE_INTEGRATION_MESSAGING" level="DEBUG" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="SYSLOG" />
        <appender-ref ref="LOGSTASH" />
    </root>

</configuration>